		<section class='row-fluid'>
			<img src="https://github.com/leandrosardi/mysaas/blob/main/public/core/images/logo/logo-16-01.png?raw=true" alt='ConnectionSphere' />
			<p>Progress.js Library</p>
		</section>

		<br/>

		<div class="row">			
			<div class="control-group span4" >		

				<div class="box">
					<button id='start' class='start-button btn btn-mini btn-blue' type='button'>START</button>
					<div class="progress progress-blue progress-striped "><div class="bar" id="bar" value=0 style="width: 0%;"></div></div>
					<button id='countt' class='start-button btn btn-mini btn-blue' type='button'>SHOW COUNT</button>
					<button id='completedd' class='start-button btn btn-mini btn-green' type='button'>SHOW COMPLETED</button>
					<button id='failedd' class='start-button btn btn-mini btn-red' type='button'>SHOW FAILED</button>
					<div>
						<pre id='results' name='results'>Process Result:</pre>
					</div>
				</div>

				<br/>

				<div class="box">
					<h3>Source Code</h3>
					<p>Visit our <a href="https://github.com/leandrosardi/progressjs/" target="_window">ProgressJs on GitHub</a> to find code examples.</p>
					<p><b>Remember to Star It!</b></p>
				</div>
			</div>
			
			<div class="span8" >
				<!-- 1. DEFINING YOUR AJAX CALLS SEQUENCE -->
				<div class="box">
					<h3>1. Defining Your AJAX Calls Sequence</h3>
					<pre>
var handler = progressJs.start({
	url: 'superhero_secret.json',
	type: 'GET', 
	datas: [
		{ first_name: 'Clark', last_name: 'Kent', role: 'Superman' }, 
		{ first_name: 'Bruce', last_name: 'Wayne', role: 'Batman' }, 
		{ first_name: 'Peter', last_name: 'Parker', role: 'Spiderman' }, 
		{ first_name: 'Clark', last_name: 'Kent', role: 'Superman' }, 
		{ first_name: 'Bruce', last_name: 'Wayne', role: 'Batman' },
	],
	success: function(j,data) {
		console.log("Success function: ", data);
	},
	error: function(j,data) {
		console.log("Error function: ", data);
	}
});
					</pre>
				</div>
				<br/>
				<!-- 2. SHOW TOTAL COUNT OF REQUESTS -->
				<div class="box">
					<h3>2. Show Total Number of AJAX Requests</h3>
					<pre>
console.log('count:' + progressJs.count(handler)); 
// number of AJAX calls requested
					</pre>
				</div>
				<br/>
				<!-- 3. SHOW TOTAL COMPLETED NO of REQUESTS -->
				<div class="box">
					<h3>3. Show Total Number of Success Requests</h3>
					<pre>
console.log('completed:' + progressJs.completed(handler)); 
// number of AJAX calls completed
					</pre>
				</div>
				<br/>
				<!-- 4. SHOW TOTAL COMPLETED NO of REQUESTS -->
				<div class="box">
					<h3>4. Show Total Number of Failed Requests</h3>
					<pre>
console.log('failed:' + progressJs.failed(handler));
					</pre>
				</div>
				<br/>   
				<!-- 5. To Cancel the REQUESTS -->
				<div class="box">
				<h3>5. Cancel the AJAX Sequence</h3>
				<pre>
$.each( handler, function( key, value ) {
	progressJs.cancel(value);
});
				</pre>
			</div>
		</div>	


	<script>

		$(document).ready(function() {
			$('#start').click(function() {
			var handler = progressJs.start({
					url: 'superhero_secret.json', // URL to send an AJAX POST call at every step of the progress.
					type: 'POST', // Type of the AJAX call.
					datas: [ // Array of hashes. Each hash is the data to send to the access point at every step of the progress.
						{ first_name: 'Clark', last_name: 'Kent', role: 'Superman' }, 
						{ first_name: 'Bruce', last_name: 'Wayne', role: 'Batman' }, 
						{ first_name: 'Peter', last_name: 'Parker', role: 'Spiderman' }, 
						{ first_name: 'Clark', last_name: 'Kent', role: 'Superman' }, 
						{ first_name: 'Bruce', last_name: 'Wayne', role: 'Batman' },
					],
					success: function(j,data) {
						o = $('#results'); 
						o.text(o.text() + "\n");
						o.text(o.text() + j.toString()+"... success");
					},
					error: function(j,data) {
						o = $('#results'); 
						o.text(o.text() + "\n");
						o.text(o.text() + j.toString()+"... error");
					}
				});

				$('#cancel').click(function() {
					$.each( handler, function( key, value ) {
						progressJs.cancel(value);
					});
				});

				$('#countt').click(function() {
					akert('count:' + progressJs.count(handler)); // number of AJAX calls requested
				});

				$('#completedd').click(function() {
					alert('completed:' + progressJs.completed(handler)); // number of AJAX calls completed
				});

				$('#failedd').click(function() {
					alert('failed:' + progressJs.failed(handler)); // number of AJAX calls failed due a communication issue. This method is not to 
				});
			});
		});	
	</script>

		